.profile {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 51px;
  min-width: min(calc(1280px - 2*200px), calc(100vw - 2*200px));
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #FFF;
  justify-content: center;
}

@media screen and (max-width: 1279px) {
  .profile {
    /*плавное центрирование: 100vw - 2*padding-left*/
    min-width: max(calc(320px - 2*27px), calc(100vw - 2*(27px + 173*(100vw - 320px)/960)));
  }
}

@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
  }
}