.popup__button-submit {
  width: 358px;
  height: 50px;
  border-radius: 2px;
  background-color: #000;
  color: #FFF;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 37px;
  margin-top: 10px; /* отодвинуть от span ошибки ввода*/
  /*расширение формы снизу*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0px;
  cursor: pointer;
  transition: 0.3s;
}

.popup__button-submit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .popup__button-submit {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 27px;
    margin-top: 13px; /* отодвинуть от span ошибки ввода*/
    margin-bottom: 25px;
  }
}