.profile__name {
  margin: 0;
  padding: 0;
  padding-right: 18px;
  text-align: left;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 294px;
  /*max-height: 42px;*/ /*выравнивает текст, но обрезает букву "у"*/
  /*vertical-align: bottom;*/ /*не опускает текст ниже буквы "у" */
  /*тогда вижу решение только в подборe margin-bottom у кнопки редактирования профиля */
}

@media screen and (max-width: 767px) {
  .profile__name {
    padding-left: calc(18px + 10px);
    padding-right: 10px;
    max-width: 226px;
    font-size: 27px;
    line-height: 33px;
    /*max-height: 27px;*/  /*выравнивает текст, но обрезает букву "у"*/
    /*overflow: visible;*/ /*выводит низ буквы "у", но вместе с ним всю строку справа до конца экрана*/
  }
}