.elements__like {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  width: 22px;
  height: 19px; 
  background-color: #FFF;
  background-image: url(../../../images/__like_disabled.svg);
  background-repeat: no-repeat;
  background-position: center center;  
  border: 0px;
  opacity: 1;
  position: relative;
}
.elements__like:hover {
  opacity: 0.5;
}
.elements__like:active {
  opacity: 1;
  background-image: url(../../../images/__like_active.svg);
}