.popup__button-close {
  position: relative;
  top: calc(0px - 8px);
  left: calc(430px/2 + 32px/2 + 8px);
  width: 32px;
  height: 32px;
  background-image: url(../../../images/__сlose_icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  border: 0px;
}

@media screen and (max-width: 767px) {
  .popup__button-close {
    top: calc(0px - 20px/2 - 8px);
    left: calc(282px/2 - 20px/2);
    width: 20px;
    height: 20px;
  }
}

.popup__button-close:hover {
  opacity: 0.6;
}