.profile__name-edit-button {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: end;  
  height: 39px;
}
@media screen and (max-width: 767px) {
  .profile__name-edit-button {
    height: 26px;    
  }
}  