.popup__input_field_occupation {
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);  
  margin-top: calc(30px - 2px);  /*2px-рамка поля input*/  
  margin-bottom: 48px;
}
@media screen and (max-width: 767px) {
  .popup__input_field_occupation {
    margin-bottom: 45px;
  }
}